@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1606268486362'); /* IE9 */
  src: url('iconfont.eot?t=1606268486362#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKkAAsAAAAABngAAAJVAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBBIEGATYCJAMICwYABCAFhG0HMBusBREFdMk+DhvH9CHZ0lLCXRlS8d/x8LhWvj/J7OUIFQDKAmlEWTZiK4GMOyMrTCsUohGz/9N2w60B2AjVJc/DVtN2Jv/+defn1vMIt4xEKTQKIVvHxOX0J9CDfOMX5zLHpEldQF0cSAHtjVFkRRJ5w9hNBA7hMYEuk9bFqauH506RgVWBeKRV2Cm5kCxb2SK0ag5m8VqtVE+qt3jFvx//7UahUieg7uydy6Rz7FeBeandtN2kgDBBO14jYR2ZuFibOi0JC0u6Utks+6oOfpWmoRaxV6Ow/jpQ2QPGVdE9ibHkVrMV3NZI89gYtY2YN+rr8fn559NVQoSxem+fYcI4+3h2oVBx0TTpyuwPzXI72Cw1QmDzmXOwXVbd+3apRgBEKj/7O46B5iC9S8c7geDq36u3/emh/9Kdwfvvv1c80Bxk/TyU3bqD3yPu2ZVDKTBX2RfX9lfmT9vQpQsN3Tfk01jd6L3kQjE6wtNhIvUlZaZMVqyrRK3bPtFSoEeJLmuuj3cbxvoid2LVm0KEAd9Epc8bIhnwA2b0j6iNaYiWgegTXS7H8IXdFkMPTjKGgglEJ9BxWRCyykBUP6LaZSFnpRx/RTY6Cq7lFLPXWCDPscXslSdCQFzmcKU8h1lWQsXlFmOxNiLV2rap7k1WXOadgZMYCgmUAJEToMVKBaKDxaD0+UdI2cmEuKVjwPsKMUOPD1wWpwd4rSp6ddzLK8ae4hGCAMJKOXClzEOZTAlU9fO2UExYNiMSlTUb9qK+Kmt9Tf51h6AL0FcBZyWtu7uwiHSnAwAAAA==') format('woff2'),
  url('iconfont.woff?t=1606268486362') format('woff'),
  url('iconfont.ttf?t=1606268486362') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1606268486362#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e608";
}

