.main-container {
  width: 100%;
  /* min-width: 1920px; */
  position: relative;
  background-color: #f2f2f2;
  padding-bottom: 60px;
}

.main-container .backgroud {
  position: absolute;

  z-index: 0;

  width: 100%;
}

.main-container .backgroud img {
  position: absolute;

  min-width: 1200px;

  width: 100%;
}

.main-container .title {
  /* padding-top: 80px; */
  width: 100%;
  /* height: 100px; */
  position: absolute;
  font-size: 45px;
  color: #f5f7f6;
  font-family: 幼圆;
  transform: scale(1, 0.95);
  font-weight: bolder;
  background-color: transparent;
  z-index: 12;
  text-align: center;
}

.main-container .main-content {
  padding-top: 315px;
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 115;
}

.main-container .main-content .main-info {
  border-radius: 8px;
  width: 1200px;
  margin: 0 auto;
  /* height: 160px; */
  position: relative;
  background-color: white;
}

.main-container .main-content .main-info .avatar {
  position: absolute;
  top: -65px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
}

.main-container .main-content .main-info .avatar .name {
  font-size: 20px;
  /* font-family: 幼圆; */
  /* color: #595959; */
  font-weight: bolder;
  /* transform: scale(1, 0.95); */
  margin-top: 15px;
  /* margin-bottom: 15px; */
}

.main-container .main-content .main-info .avatar .icon {
  /* width: 120px; */
  /* height: 120px; */
  /* margin: auto auto; */
  /* margin-bottom: 15px; */
}

.main-container .main-content .main-info .avatar .icon img {
  width: 120px;
  height: 120px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 200px;
  box-shadow: 0 0;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}

.main-container .main-content .main-info .time {
  margin: 20px 50px;

  font-size: 20px;

  color: #8f8f8f;

  font-family: 幼圆;

  font-weight: bolder;

  transform: scale(1, 0.95);

  position: absolute;
}

.main-container .main-content .main-info .status {
  bottom: 0px;

  font-size: 20px;

  font-family: 幼圆;

  color: #8f8f8f;

  font-weight: bolder;

  transform: scale(1, 0.95);

  margin: 20px 50px;

  position: absolute;
}

.main-container .main-content .main-info .enter {
  right: 30px;

  bottom: 30px;

  width: 150px;

  padding-top: 5px;

  border-radius: 5px;

  height: 50px;

  background-color: #e33638;

  font-size: 10px;

  font-family: 幼圆;

  text-align: center;

  color: white;

  font-weight: bolder;

  position: absolute;
}

.main-container .main-content .main-page {
  width: 60%;

  border-radius: 8px;

  margin: 20px auto;

  background-color: white;

  text-align: center;
}

.main-container .main-content .main-page .info {
  font-size: 20px;

  font-family: 幼圆;

  color: #e4353c;

  padding-top: 20px;

  margin: 15px;

  font-weight: bolder;

  transform: scale(1, 0.95);
}

.main-container .main-content .main-page .aline {
  background-color: #f3f3f3;

  height: 1px;
}

.main-container .main-content .main-page .focal-line {
  background-color: #e4353c;

  width: 90px;

  margin: 0 auto;

  border-radius: 3px;

  height: 5px;
}

.main-container .main-content .main-page .text {
  text-align: left;

  margin: 0 auto;

  text-indent: 2em;

  width: 1024px;

  font-size: 20px;

  font-family: 幼圆;

  color: #2e2e2e;

  padding-top: 20px;
}

.main-container .main-content .main-page .text span {
  font-weight: bolder;

  color: #e4353c;
}

#triangle-right {
  position: absolute;

  top: 25px;

  left: 30px;

  z-index: 999;

  width: 0px;

  height: 0px;

  border-top: 7px solid transparent;

  border-bottom: 7px solid transparent;

  border-left: 14px solid white;
}
.main-info .text {
  text-indent: 26px;
  padding-top: 100px;
  padding: 120px 40px 40px 40px;
}
.teacherTag {
  padding: 0 3px;
  border-radius: 4px;
  background: #ec2a2b;
  line-height: 17px;
  font-size: 12px;
  color: #fff;
  height: 16px;
  margin-top: 2px;
  margin-left: 10px;
}
.tblock {
  max-width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-left: 54px;
}
.bgInfo {
  position: absolute;
  top: 130px;
  left: 0;
  z-index: 20;
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #fff;
}
.rowWap {
  width: 1200px;
  margin: 0px auto 0 auto;
  margin-bottom: -20px;
}
@media screen and (max-width: 980px) {
  body {
    overflow: visible;
    width: 1200px;
  }
  .main-container .main-content {
    padding-top: 250px;
  }
  .rowWap {
    width: 100%;
  }
}