<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>会员登录</title>

  <link href="{STATIC_URL}css/yzm-member-login.css" rel="stylesheet" type="text/css" />

  <meta name="description" content="yzmcms会员登录" />
</head>

<body>
  <div class="yzm-member-container yzm-login">
    <div class="yzm-title">&nbsp;</div>

    <div class="yzm-form">
      <form action="" method="post">
        <input type="hidden" name="referer" value="<?php echo $referer;?>" />

        <ul>
          <li>
            <input type="text" class="input" name="username" id="username" placeholder="用户名或邮箱" required value="" />
          </li>

          <li>
            <input type="password" class="input" name="password" id="password" placeholder="请输入密码" required value="" />
          </li>

          {if get_config('member_yzm')}

          <li>
            <input type="text" class="input code" required name="code" placeholder="请输入验证码" /><img
              src="{U('api/index/code')}" onclick="this.src=this.src+'?'" class="codeimg" title="看不清，换一张" />
          </li>

          {/if}

          <li class="last_li">
            <input type="submit" class="submit" name="dosubmit" value="登 录" />
          </li>
        </ul>

        <div class="yzmcms_other_login">
          <a href="{U('member/other/qq_login')}" target="_blank" class="qq" title="QQ登录"><img
              src="{STATIC_URL}images/yzm_qq_login.png" /></a>

          <a href="{U('member/other/weibo_login')}" target="_blank" class="weibo" title="微博登录"><img
              src="{STATIC_URL}images/yzm_weibo_login.png" /></a>
        </div>

        <div class="yzmcms_bottom">
          没有账号？<a href="{U('register')}">立即注册</a>&nbsp;&nbsp;&nbsp;
          <a onclick="showQrcode()" id="targetId"
            style="cursor: pointer;color: rgba(255, 255, 255, 0.6); float: right;">忘记密码？</a>
        </div>
      </form>
    </div>
    <div id="qrcodeLogin"
      style="display: none;position: absolute; top: 360px;left: 70px;z-index: 10;width: 200px;height: 200px;padding: 20px 20px 30px 20px; background-color: #fff;border-radius: 11px;">
      <div style>
        <img width="200" src="{STATIC_URL}images/qrlogin.png" alt="">
        <p style="color:rgba(0, 0, 0, 0.6);text-align: center;">忘记密码，请扫码联系客服</p>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="yzm_footer">
    <div class="container">
      <p>
        <a href="http://www.yzmcms.com" target="_blank" style="display: none;">{YZMCMS_SOFTNAME}</a>
        ©2020 - 南京泛在实境科技有限公司 版权所有
      </p>
    </div>
  </div>
  <script>
    var $qrcodeLogin = document.getElementById("qrcodeLogin");
    function showQrcode() {
      $qrcodeLogin.style.display = 'block';
    }
    document.onclick = function (event) {
      var event = event || window.event;
      var targetId = event.target ? event.target.id : event.srcElement.id;
      if (targetId !== 'targetId') {
        $qrcodeLogin.style.display = 'none';
      }
    }
  </script>
</body>

</html>