<div class="clearfix"></div>

<div class="bottom-container clearfix"
    style="background-image: url({STATIC_URL}assets/img/newImg/about-bg.jpg);background-size: 100% 100%;">

    <div class="bottom-banner">

        <div class="title">

            <img src="{STATIC_URL}assets/img/newImg/logo-white.png" alt="泛在实境">

        </div>
        <div class="aboutList">
            <div class="item itemFirst"><a href="#">平台介绍</a></div>

            <div class="item"><span href="#" style="font-weight:bold;font-size:1.2em;">合作单位</span></div>
        </div>

        <div class="aboutList">
            <div class="item itemFirst"><a href="http://www.fanzaishijing.com" target="_blank">活动链接</a></div>

            <div class="item"><a href="#">南京市雨花台烈士陵园</a></div>

            <div class="item"><a href="#">渡江战役纪念馆</a></div>

            <div class="item"><a href="#">梅园新村纪念馆</a></div>

            <div class="item"><a href="#">侵华日军南京大屠杀遇难同胞纪念馆</a></div>

        </div>

        <div class="aboutList">
            <div class="item itemFirst"><a href="#">证书服务</a></div>

            <div class="item"><a href="#">新四军纪念馆</a></div>

            <div class="item"><a href="#">周恩来纪念馆和故居</a></div>

            <div class="item"><a href="#">新四军军部旧址</a></div>

            <div class="item"><a href="#">李大钊烈士陵园</a></div>

        </div>

        <div class="aboutList">
            <div class="item itemFirst"><a href="#">联系我们</a></div>

            <div class="item"><a href="#">淮海战役烈士纪念塔园林</a></div>

            <div class="item"><a href="#">井冈山市红色旅游系列景区</a></div>

            <div class="item"><a href="#">中国共产党第一次全国代表大会会址纪念馆</a></div>

        </div>

    </div>

    <div class="bottom-info">

        <!-- <div class="items">

                <div class="item"><a href="#">平台介绍</div>

                <div class="item"><a href="#">往期活动</div>

                <div class="item"><a href="#">活动链接</div>

                <div class="item"><a href="#">证书服务</div>

                <div class="item"><a href="#">联系我们</div>

            </div> -->

        <div class="credit">
            <div class="creditBottom">
                <div style="display: inline-block;">@版权所有   2020-2022  南京泛在实境科技有限公司  <a
                        style="color: rgba(255, 255, 255, 0.7);margin-left: 5px"
                        href="http://www.beian.miit.gov.cn">苏ICP备20017917号</a>
                </div>
                <img class="creditImg" src="{STATIC_URL}/assets/img/credit.png">
                <span>南京公网安备份3201040203151 营业执照</span>
            </div>
        </div>

    </div>



</div>

</body>

</html>