<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{$seo_title}</title>

    <meta name="keywords" content="{$keywords}" />

    <meta name="description" content="{$description}" />

    <link href="{STATIC_URL}css/yzm-common.css" rel="stylesheet" type="text/css" />

    <link href="{STATIC_URL}css/yzm-style.css" rel="stylesheet" type="text/css" />

    <link href="{STATIC_URL}assets/css/header.css" rel="stylesheet">
</head>

<link href="{STATIC_URL}assets/css/footer.css" rel="stylesheet">
</head>

<link href="{STATIC_URL}assets/css/activity.css" rel="stylesheet">
</head>

<script type="text/javascript" src="{STATIC_URL}js/jquery-1.8.2.min.js"></script>

<script type="text/javascript" src="{STATIC_URL}js/yzm-front.js"></script>

<script type="text/javascript" src="{STATIC_URL}js/jquery.qqFace.js"></script>

<script type="text/javascript" src="//static.runoob.com/assets/qrcode/qrcode.min.js"></script>

</head>

<body>

    {m:include "index","header"}

    <?php

    $m_userId = intval(get_cookie('_userid'));

    $userinfo = get_memberinfo($m_userId, true);

    $teacher_info=D('teacher')->where(array('id'=>$teacher))->find();
    $link_username=$teacher_info[link_username];

    $m_role = '';

    if(strpos($manager,$userinfo[username]) !== false){

        $m_role = 'teacher';

    } elseif (strpos($link_username,$userinfo[username]) !== false){

        $m_role = 'speaker';

    } else{

        $m_role = 'student';

    }


        $m_icon = get_memberavatar($m_userId);

        if(strpos($m_icon,"http") === false){

            $m_icon = $site[site_url].$m_icon;

        }

    ?>



    <div class="main-container clearfixclearfix">

        <div class="backgroud">

            <img src="{STATIC_URL}assets/img/abackground.jpg">

        </div>

        <div class="title">{$title}</div>



        <div class="main-content">

            <div class="main-info">

                <div class="avatar">

                    <!-- <div class="icon">

                        <img src="{get_memberavatar($userid)}">

                    </div>

                    <div class="name">

                       {$nickname}

                    </div> -->

                    <div class="text" style="width: 100%;">
                        <div id="qrcode" class="qrcodeCss"></div>
                        <p class="qrcodeInfo">手机扫码直接观看</p>
                    </div>
                </div>



                <div class="time">

                    时长:90分钟

                </div>

                <div class="status">

                    <!-- 直播未开始 -->
                    讲解者： {$nickname}

                </div>



                {if $m_userId==0}
                <a href="{url_referer(get_url())}" target="_blank" style="display: block;">




                    {else}

                    <!-- https://cdn.hongyanlv.com/index.html#/?icon={$m_icon}&yourName={$userinfo[nickname]}&roomName=activity_{$id}&role={$m_role}&backUrl={$url}&defaultUrl={$kankanurl} -->
                    <a
                        href="{ROOM_HOST}index.html#/?icon={$m_icon}&yourName={$userinfo[nickname]}&roomName=activity_{$id}&role={$m_role}&backUrl={$url}&defaultUrl={$kankanurl}">

                        {/if}

                        <div class="enter">

                            {if $m_userId==0}

                            {else}

                            <!-- <div id="triangle-right"></div> -->

                            {/if}

                            <div>进入直播间 <div id="triangle-right"></div>
                            </div>

                            {if $m_userId==0}

                            {else}

                            <div>进入直播间</div>

                            {/if}

                        </div>
                    </a>


            </div>



            <div class="main-page">





                <div class="info">

                    活动介绍

                </div>

                <div class="focal-line">



                </div>

                <div class="aline">



                </div>

                <div class="text" style="    padding-bottom: 25px;">

                    {$content}

                </div>

            </div>

        </div>
        <!-- <div id="qrcode-url" style="display:none;">{$site[site_url]}member/other/wx_login.html?url={$url}</div> -->
        <div id="qrcode-url" style="display:none;">
            http://www.hongyanlv.com/wx/wx_login?a={$id}&b={$kankanurl}</div>
    </div>

    <script type="text/javascript">

        var qrcode = new QRCode(document.getElementById("qrcode"), {

            width: 100,

            height: 100

        });



        function makeCode() {

            var elText = document.getElementById("qrcode-url");



            if (!elText.innerText) {

                return;

            }


            console.log("11111111111111-:" + elText.innerText)
            qrcode.makeCode(elText.innerText);

        }



        makeCode();



        $("#text").

            on("blur", function () {

                makeCode();

            }).

            on("keydown", function (e) {

                if (e.keyCode == 13) {

                    makeCode();

                }

            });


        $(function () {
            $("div.main-page p>img").removeAttr("width height style")
        })

    </script>

    {m:include "index","footer"}
