<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>{$seo_title}</title>
	  <link href="{STATIC_URL}css/yzm-common.css" rel="stylesheet" type="text/css" />
	  <link href="{STATIC_URL}css/yzm-style.css" rel="stylesheet" type="text/css" />
	  <script type="text/javascript" src="{STATIC_URL}js/jquery-1.8.2.min.js"></script>
	  <script type="text/javascript" src="{STATIC_URL}js/yzm-front.js"></script>
	  <meta name="keywords" content="{$keywords}" />
	  <meta name="description" content="{$description}" />
  </head>
  <body>
	     {m:include "index","header"} 
		 <div class="main-container clearfix">
			<div class="activities">
				<div class="activity">
					<img class="icon" src="./img/aa1.jpg">
					<div class="info">
						<div class="name">
							<div class="name-row">活动名称：西柏坡廉政教育主题活动</div>
							<div class="status">进行中</div>
							<div class="time">活动时间：2020-5-1  10:00</div>
						</div>
						<div class="detail">
							<div class="detail-row">活动单位：南京泛在实境科技有限公司</div>
							<div class="detail-row">活动人数：35</div>
							<div class="detail-row">体验者领队：韩晓</div>
							<div class="detail-row">讲解员：李旺</div>
						</div>
					</div>
					<div class="enter">
						<a href="javascript:parent.location.href='https://moyuhood.gitee.io/#/?roomName=xbp_lz1&yourName=李旺&role=teacher';">
							<img src="./img/entering.png"></a>
						<a href="javascript:parent.location.href='https://moyuhood.gitee.io/#/?roomName=xbp_lz1&yourName=李旺&role=teacher';"><div class="enter-text">进入活动</div></a>
					
					</div>
				</div> 
				<div class="activity">
					<img class="icon" src="./img/bb1.png">
					<div class="info">
						<div class="name">
							<div class="name-row">活动名称：华北地区战争史主题活动</div>
							<div class="status">进行中</div>
							<div class="time">活动时间：2020-5-1  10:00</div>
						</div>
						<div class="detail">
							<div class="detail-row">活动单位：华北战争纪念馆文旅部</div>
							<div class="detail-row">活动人数：35</div>
							<div class="detail-row">体验者领队：韩晓</div>
							<div class="detail-row">讲解员：  熊天琳</div>
						</div>
					</div>
					<div class="enter">
						<a href="javascript:parent.location.href='https://moyuhood.gitee.io/#/?roomName=hb_lsly1&yourName=熊天琳&role=teacher';">
							<img src="./img/entering.png"></a>
						<a href="javascript:parent.location.href='https://moyuhood.gitee.io/#/?roomName=hb_lsly1&yourName=熊天琳&role=teacher';"><div class="enter-text">进入活动</div></a>
					
					</div>
				</div> 
				<div class="activity">
					<img class="icon" src="./img/cc1.png">
					<div class="info">
						<div class="name">
							<div class="name-row">活动名称：中兴堂历史主题研学活动</div>
							<div class="status">进行中</div>
							<div class="time">活动时间：2020-5-1  10:00</div>
						</div>
						<div class="detail">
							<div class="detail-row">活动单位：中兴堂运营管理机构</div>
							<div class="detail-row">活动人数：35</div>
							<div class="detail-row">体验者领队：韩晓</div>
							<div class="detail-row">讲解员：王苏晋</div>
						</div>
					</div>
					<div class="enter">
						<a href="javascript:parent.location.href='https://moyuhood.gitee.io/#/?roomName=zq_zxt21&yourName=王苏晋&role=teacher';"><img src="./img/entering.png"></a>
						<a href="javascript:parent.location.href='https://moyuhood.gitee.io/#/?roomName=zq_zxt21&yourName=王苏晋&role=teacher';"><div class="enter-text">进入活动</div></a>
					
					</div>
				</div> 
				<div class="activity">
					<img class="icon" src="./img/dd1.png">
					<div class="info">
						<div class="name">
							<div class="name-row">活动名称：古田会议的意义主题研学活动</div>
							<div class="status">进行中</div>
							<div class="time">活动时间：2020-5-1  10:00</div>
						</div>
						<div class="detail">
							<div class="detail-row">活动单位：古田会议研学机构</div>
							<div class="detail-row">活动人数：35</div>
							<div class="detail-row">体验者领队：韩晓</div>
							<div class="detail-row">讲解员：刘长吾</div>
						</div>
					</div>
					<div class="enter">
						<a href="javascript:parent.location.href='https://moyuhood.gitee.io/#/?roomName=zq_gthyjz_251&yourName=刘长吾&role=teacher';"><img src="./img/entering.png"></a>
						<a href="javascript:parent.location.href='https://moyuhood.gitee.io/#/?roomName=zq_gthyjz_251&yourName=刘长吾&role=teacher';"><div class="enter-text">进入活动</div></a>
					
					</div>
				</div> 
				<div class="activity">
					<img class="icon" src="./img/aa2.jpg">
					<div class="info">
						<div class="name">
							<div class="name-row">活动名称：党廉政史主题活动</div>
							<div class="status">进行中</div>
							<div class="time">活动时间：2020-5-1  10:00</div>
						</div>
						<div class="detail">
							<div class="detail-row">活动单位：西柏坡纪念馆</div>
							<div class="detail-row">活动人数：35</div>
							<div class="detail-row">体验者领队：韩晓</div>
							<div class="detail-row">讲解员：赵明</div>
						</div>
					</div>
					<div class="enter">
						<a href="javascript:parent.location.href='https://moyuhood.gitee.io/#/?roomName=xbp_lz2&yourName=赵明&role=teacher';"><img src="./img/entering.png"></a>
						<a href="javascript:parent.location.href='https://moyuhood.gitee.io/#/?roomName=xbp_lz2&yourName=赵明&role=teacher';"><div class="enter-text">进入活动</div></a>
					
					</div>
				</div> 
				<div class="activity">
					<img class="icon" src="./img/bb2.png">
					<div class="info">
						<div class="name">
							<div class="name-row">活动名称：华北抗日战争历史主题活动</div>
							<div class="status">进行中</div>
							<div class="time">活动时间：2020-5-1  10:00</div>
						</div>
						<div class="detail">
							<div class="detail-row">活动单位：华北战争纪念馆文旅部</div>
							<div class="detail-row">活动人数：35</div>
							<div class="detail-row">体验者领队：韩晓</div>
							<div class="detail-row">讲解员： 郭雪吉</div>
						</div>
					</div>
					<div class="enter">
						<a href="javascript:parent.location.href='https://moyuhood.gitee.io/#/?roomName=hb_lsly2&yourName=郭雪吉&role=teacher';"><img src="./img/entering.png"></a>
						<a href="javascript:parent.location.href='https://moyuhood.gitee.io/#/?roomName=hb_lsly2&yourName=郭雪吉&role=teacher';"><div class="enter-text">进入活动</div></a>
					
					</div>
				</div>  
	
			</div>
		</div>
 		{m:include "index","footer"} 